@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Work Sans';
    src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Lora';
    src: url(../fonts/Lora/static/Lora-SemiBold.ttf) format('truetype');
    font-weight: 600;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 62.5%;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

body {
    background-color: #fff;
}

img {
    max-width: 100%;
}

@media (prefers-color-scheme: light) {
    /* CSS für helles Farbschema */
    :root {
        --color-dark-bg: hsl(253, 67%, 42%);
    --color-dark-text: #4223b3;
    --color-light-bg: #ffffff;
    --color-light-text: #fff;
    }

    .img-a {
        filter: url(#color-filter);
    }
}

@media (prefers-color-scheme: dark) {
    /* CSS für dunkles Farbschema */
    :root {
        --color-dark-bg: #000;
        --color-dark-text: #000;
        --color-light-bg: #ffffff;
        --color-light-text: #fff;
    }
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4vw;
}

.bg-dark {
    background-color: var(--color-dark-bg);
    color: var(--color-light-text)
}

.bg-light {
    background-color: var(--color-light-bg);
    color: var(--color-dark-text)
}

.d-flex {
    display: flex;
}

.position-r {
    position: relative;
}

.heading-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 10vh;
    margin-bottom: 10vh;
}

h1 {
    font-family: 'Inter';
    /* font-size: 9.6rem; */
    font-size: clamp(3rem, -0.5538rem + 16.2462vw, 9.6rem);
    text-transform: uppercase;
    line-height: .75em;
    text-align: center;
}

h1 span {
    font-family: 'Work Sans';
    font-weight: 700;
    color: var(--color-dark-text);
    /* text-shadow: 0px 0px 4px white; */
    -webkit-text-stroke: 1px var(--color-light-text);
    font-size: inherit;
    display: block;
}

h2 {
    /* font-size: 8.358rem; */
    font-size: clamp(2rem, -1.4235rem + 15.6505vw, 8.358rem);
    font-weight: 700;
    line-height: .9em;
    letter-spacing: -0.124;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

.btn {
    color: var(--color-light-text);
    border: 1px solid var(--color-light-text);
    padding: .7rem 2rem;
    font-size: 2rem;
    letter-spacing: -1px;
}

.btn:hover {
    background-color: var(--color-light-bg);
    color: var(--color-dark-text);
}

/* Header */

header {
    background-color: var(--color-dark-bg);
}

header .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-light-text);
}

.h-line {
    height: 186px;
    background-color: var(--color-light-bg);
    width: .5px;
    margin-bottom: 5rem;
}

header p {
    font-size: 2rem;
    letter-spacing: -1px;
    margin: 2rem;
    text-align: center;
}

header .rsvp {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 14vh;
}

/* Main */

.numbers {
    background-color: var(--color-dark-bg);
    padding-bottom: 8vh;
}

.numbers p {
    /* font-size: 8.6rem; */
    /* font-size: clamp(3rem, -0.0154rem + 13.7846vw, 8.6rem); */
    font-size: clamp(1rem, -3.0923rem + 18.7077vw, 8.6rem);
    font-family: 'Inter';
    letter-spacing: -.03em;
    line-height: 1.068;
    color: var(--color-light-text);
    max-width: 89%;
    margin-bottom: 10vh;
}

.numbers .number {
    margin-bottom: 2rem;
}

.numbers .lable {
    font-size: 1.4rem;
    letter-spacing: normal;
    font-family: 'Work Sans';
    margin-bottom: 1rem;
}

.california-map {
    background-image: url('../img/map.svg');
    background-repeat: no-repeat;
    background-size: fill;
    background-position: bottom right;
}

.stuck-in-the-middle {
    position: relative;
}

.on-top {
    position: relative;
    z-index: 100;
}

.img-a {
    position: absolute;
    z-index: 0;
    min-width: 200px;
}

.action1 {
    max-width: 30vw;
    height: auto;
    right: 10vw;
    top:-8vh;
}

.action2 {
    max-width: 25vw;
    height: auto;
    left: 7vw;
    top: 18vh;
}

.action3 {
    max-width: 25vw;
    height: auto;
    right: 0;
    top: 75vh;
}

.action4 {
    max-width: 25vw;
    height: auto;
    left: 10vw;
    bottom: 70vh;
}

.action5 {
    max-width: 25vw;
    height: auto;
    right: 8vw;
    top: 95vh;
}

.action6 {
    max-width: 25vw;
    height: auto;
    left: 0;
    bottom: 20vh;
}

.action7 {
    max-width: 35vw;
    height: auto;
    right: 14vw;
    bottom: -5vh;
}

.stuck-in-the-middle .wrapper {
    max-width: 530px;
    margin: 0 auto;
    padding: 40vh 2vw;
}

.stuck-in-the-middle p {
    font-family: 'Work Sans';
    font-size: 1.58rem;
    line-height: 2.96rem;
    letter-spacing: -.041rem;
    max-width: 85%;
}

.stuck-in-the-middle .wrapper:nth-child(2) {
    margin-bottom: 50vh;
    /* background-color: red; */
}

.s001, .s002 {
    margin-bottom: -20vh;
}

.s002 {
    padding-top: 20vh
}

.heading-text div {
    max-width: 50%;
}

.heading-text h2 {
    max-width: 200px;
}

.heading-text .heading p {
    font-size: 1.975rem;
    margin-bottom: 2vh;
}

.heading-text .content p {
    font-family: 'Inter';
    font-size: 1.897rem;
}

.author {
    font-size: 1.4rem !important;
    font-family: 'Work Sans' !important;
    font-weight: 400 !important;
    margin-top: 1.4rem;
}

.author::before {
    content: "\2014";
    margin-right: 1rem;
}

.images {
    display: flex;
    align-items: center;
    /* position: absolute; */
}

.right {
    justify-content: flex-end;
}

.left {
    justify-content: flex-start;
}

.bear1 {
    max-width: 65%;
}

.bear2 {
    max-width: 30%;
    margin-left: -5%;
    z-index: 10;
}

.poster1 {
    max-width: 30%;
    z-index: 10;
}

.poster2 {
    max-width: 65%;
    margin-left: -5%;
}

.text-rotate {
    max-width: 20%;
    align-self: flex-end;
    /* background-color: red; */
    margin-bottom: -2vh;
    margin-left: -8%;
    /* filter: invert(1); */

    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.space {
    height: 5vh;
}

footer {
    padding: 16vh 0 2vh 0;
    margin-top: 18vh;
    position: relative;
    overflow: hidden;
}

footer .footer-date {
    display: inline-block;
    background-color: var(--color-light-bg);
    color: var(--color-dark-text);
    padding: 0 2em;
    transform: rotate(45deg);
    position: absolute;
    right: -400px;
    top: 20rem;
    width: 1200px;
    white-space: nowrap;
}

footer .footer-date p {
    font-family: 'Lora';
    /* font-size: 8.8rem; */
    font-size: 5vw;
    animation: footer-date 10s linear infinite alternate;
}

footer .footer-date p span {
    font-family: inherit;
    color: transparent;
    /* text-shadow: 0px 0px 4px white; */
    -webkit-text-stroke: 2px var(--color-dark-text);
    font-size: inherit;
}

@keyframes footer-date {
    from {
        transform: translate(0vw);
    }

    to {
        transform: translate(10vw);
    }
}

footer p, footer .icon{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

footer .content {
    max-width: 50%;
    margin-bottom: 5vh;
}

footer .heighlight {
    font-family: 'Inter';
    /* font-size: 2.4rem; */
    font-size: clamp(1.8rem, 1.4769rem + 1.4769vw, 2.4rem);
    /* line-height: 4.61rem; */
    line-height: 1.92em;
}

footer .rsvp {
    border: 1px solid var(--color-light-text);
    padding: .5em 1.4em;
    display: inline-block;
    margin-bottom: 10vh;
}

footer .social-icons, footer .logo-set {
    display: flex;
    align-items: center;
    gap: .6rem;
}

footer .icon {
    width: 10px;
}

footer .logo {
    width: 50px;
}

footer .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 750px) {
    .heading-text {
        flex-direction: column;
        align-items: flex-start;
    }
    .heading-text div, .heading-text h2{
        max-width: 100%;
    }

    .heading-text .heading h2 {
        margin-bottom: 3vw;
    }

    .action3 {
        max-width: 25vw;
        height: auto;
        right: 0;
        top: 70vh;
    }
    
    .action4 {
        max-width: 25vw;
        height: auto;
        left: 10vw;
        bottom: 85vh;
    }
    
    .action5 {
        display: none;
        /* max-width: 25vw;
        height: auto;
        right: clac(50vw-12.5vw);
        top: 90vh; */
    }

    footer .content {
        max-width: 100%;
    }

    footer .footer-date p span {
        -webkit-text-stroke: 1px var(--color-dark-text);
    }

    footer .footer-date {
        /* display: inline-block; */
        background-color: var(--color-light-bg);
        color: var(--color-dark-text);
        padding: 0 2em;
        transform: rotate(0deg);
        max-width: 120vw;
        position: absolute;
        left: -10vw;
        top: 5rem;
    }

    footer .footer-date p {
        margin-bottom: 0;
    }
}